<html lang="en" xmlns:th="http://www.thymeleaf.org">

<title>Main page</title>
<body>
<div id="header">
    <h2>Введите название композиции</h2>
</div>
<div id="content">
    <fieldset>
        <legend>Введите название композиции</legend>
        <form name="musicTrack" action="search" method="post">
            <input type="text" id="trackname" name="trackname"/><br/>
           <br>
            <input type="submit" value="Поиск"/>
        </form>
    </fieldset>
    <br/>
    <a methods="post" th:href="@{/get_playlist}">GET PLAYLIST</a><span>
    <br>
</div>
</body>
</html>
